<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <parameter name="name" value="test"/>
    <test verbose="2" preserve-order="true" name="autotest">
        <classes>
            <class name="tests.SendMessagesTest"/>
        </classes>
    </test>
</suite>